apiVersion: v1
kind: Service
metadata:
  name: checkout-redis-svc
  namespace: retail-store-ns
spec:
  clusterIP: None
  ports:
  - port: 6379
    targetPort: 6379
    name: redis
  selector:
    app: checkout-redis