apiVersion: v1
kind: Service
metadata:
  name: orders-mq-svc
  namespace: retail-store-ns
spec:
  clusterIP: None
  ports:
  - port: 5672
    targetPort: 5672
    name: amqp
  - port: 15672
    targetPort: 15672
    name: management  
  selector:
    app: orders-mq