apiVersion: external-secrets.io/v1
kind: SecretStore
metadata:
  name: aws-secrets-manager
  namespace: retail-store-ns
spec:
  provider:
    aws:
      service: SecretsManager
      region: ap-south-1
      # The ARN of the role you want ESO to assume (The 'Target Role')
      # This role must have permission to read your Secrets Manager secrets.
      # The worker node's instance profile role must have 'sts:AssumeRole' permission for this role.
      role: "arn:aws:iam::993490993275:role/secretReadValue-role-for-k8s"
      auth: {} # Rely on implicit instance profile by providing an empty auth block