apiVersion: v1
kind: Service
metadata:
  name: checkout-svc
  namespace: retail-store-ns
spec:
  type: ClusterIP
  ports:
  - port: 8080
    targetPort: 8080
    name: http
  selector:
    app: checkout