apiVersion: v1
kind: Service
metadata:
  name: orders-db-svc
  namespace: retail-store-ns
spec:
  clusterIP: None
  ports:
  - port: 5432
    targetPort: 5432
    name: postgres
  selector:
    app: orders-db